.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 50px 0;
  z-index: 10;
  box-shadow: 2px 0px 10px 2px rgb(201, 201, 201);
  user-select: none;
}

.logo {
  margin-left: 50px;
  margin-top: 11px;
  width: 70px;
  cursor: pointer;
}

.unorderList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

.unorderList li {
  padding: 50px 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.unorderList li:hover {
  color: #259bbf;
}

.orderList > .orderListDropDown {
  color: black;
}

.orderList {
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.orderList > .orderListDropDown {
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 100px;
  border: 1px solid rgb(225, 223, 223);
  border-radius: 10px;
}
.orderList > .orderListDropDown {
  margin-top: 5px;
  padding: 10px 0;
}
.orderList > .orderListDropDown > li {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
}

.downArrow {
  padding-top: 8px;
  height: 30px;
  width: 30px;
}

.demoButton {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 45px;
  width: 170px;
  border-radius: 6px;
  margin-right: 50px;
  background-color: #fff;
  border: 1px solid #259bbf;
  color: #259bbf;
  cursor: pointer;
  transition: 0.4s;
}
.demoButton:hover {
  background-color: #259bbf;
  color: white;
}

.menuIcon {
  display: none;
  margin-right: 30px;
  margin: 15px 15px;
}

.dropDownMenu {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 100px;
  padding: 10px 0px;
  background-color: #fff;
  list-style: none;
}

.dropDownMenu > li {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.dropDownMenu > ul {
  padding-left: 20;
}

.dropDownMenu > li > ul {
  padding: 0;
}

.dropDownMenu > ul > li {
  list-style: none;
  padding: 10px 30px;
}

@media screen and (max-width: 800px) {
  .container {
    height: 60px;
    padding: 5px 0;
  }
  .dropDownMenu {
    display: block;
  }
  .items {
    display: none;
  }
  .demoButton {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .innerUnorder {
    list-style-type: none;
  }
  .orderList > a {
    text-decoration: none;
  }
  .logo {
    margin-left: 10px;
    width: 40px;
  }
  .dropDownMenu {
    top: 59px;
  }
}
