.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  /* background-color: aqua; */
}

.logo {
  margin-left: 50px;
  margin-top: 11px;
  cursor: pointer;
}

.unorderList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

.orderList {
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.downArrow {
  padding-top: 8px;
  height: 30px;
  width: 30px;
}

.demoButton {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 45px;
  width: 170px;
  border-radius: 6px;
  margin-right: 50px;
  background-color: #259bbf;
  color: white;
  cursor: pointer;
}
