.aboutContainer {
}

.secondSection {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 8px 0px rgb(160, 159, 159);
  margin: 100px 50px 50px 50px;
  border-radius: 20px;
  padding: 20px 20px;
  max-width: 1293px;
  margin-inline: auto;
}

.secondSection > .leftSection {
  width: 60%;
  padding: 0px 50px;
  background: #020202;
  color: white;
  text-align: center;
}

.leftSectionContent {
  position: relative;
  top: 10%;
}

.leftSectionContent > h2 {
  font-size: 40px;
  font-weight: 500;
}

.leftSectionContent > .paragraph {
  font-size: 20px;
  font-weight: 400;
  color: #bbb4b4;
}

.leftSectionContent > .paragraph > p {
  margin: 0 0;
}

.secondSection > .rightSection {
  width: 50%;
}

.secondSection > .rightSection > ul {
  width: 80%;
  margin: auto;
}

.secondSection > .rightSection > ul > li {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0;
}

.secondSection > .rightSection > ul > li::marker {
  color: #4c6ed4;
}

.secondSection > .rightSection > ul > p {
  margin: 0 0;
  margin-bottom: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .secondSection {
    flex-direction: column;
    margin: 50px 10px;
    padding: 0 0;
  }
  .secondSection > .leftSection {
    width: 100%;
    padding-bottom: 50px;
  }
  .secondSection > .rightSection {
    margin: 40px 0;
    width: 100%;
    margin-left: 0px;
  }
  .secondSection > .rightSection > ul {
    margin: 0 40px;
    width: 80%;
  }
}
