.heroContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  height: 80vh;
}

.leftSection {
  width: 50%;
  display: flex;
  position: relative;
}

.polygon {
  position: absolute;
  width: 20%;
  margin-top: 70px;
  height: 250px;
  min-height: 240px;
  max-height: 250px;
  right: 100px;
  top: 5px;
}

.polygon > .polygonArrow {
  width: 20%;
  height: 100%;
  min-width: 200px;
}

.heroText {
  width: 80%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.heroText > .Text1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 63px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  letter-spacing: 2px;

  color: #000000;
}

.Text2 {
  text-align: center;
  padding: 0px 50px;
}

.gradientText {
  /* color: transparent;
  background: linear-gradient(90.71deg, #1D174D 44.71%, #259BBF 73.75%, #E5E5E5 104.67%); */
  background: -webkit-linear-gradient(
    0deg,
    #1d174d 44.71%,
    #259bbf 73.75%,
    #e5e5e5 104.67%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroTextButton {
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 40px;
  font-size: 15px;
  border-radius: 15px;
  border: 0px;
  background: #259bbf;
  color: #ffff;
}

.signUpContainer {
}

.signUpContainer > .signUpImg {
  margin: auto;
  margin-right: 80px;
  width: 60%;
  padding: 20px 10px;
  /* height: 100px; */
}

.signUpContainer > .signUpImg > img {
  width: 100%;
}

/* Why bookone Design */

.whyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whyHeading {
  font-size: 50px;
}

.tabContainer {
  width: 80%;
  border-radius: 15px;
  background-color: rgb(221, 221, 221);
}

.whyUnorderedList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* gap: 98px; */
}

.whyOrderList {
  height: 35px;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  /* color: white;
  background-color: black; */
  /* width: 120px; */
}
.bottomGradient {
  position: absolute;
  top: 350px;
  z-index: -1;
  width: 20%;
}

@media screen and (max-width: 1300px) {
  .heroContainer {
    flex-direction: column;
  }
  .leftSection {
    width: 100%;
    justify-content: center;
  }

  .heroText > .Text1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0px;
  }

  .Text2 {
    text-align: center;
    padding: 0px 50px;
  }
  .polygon {
    display: none;
  }
  .bottomGradient {
    display: none;
  }
  .signUpContainer > .signUpImg {
    width: 40%;
    padding: 20px 0px;
    margin: auto;
  }
}
