.container {
  display: flex;
  margin: auto;
  /* margin: 0px 50px; */
  width: 90%;
  max-width: 1400px;
  justify-content: space-between;
}

.sectionOne {
  width: 40%;
}

.sectionOne > h5 {
  font-size: 50px;
  margin: 0px;
  margin-top: 100px;
}

.sectionOne > p {
  font-size: 25px;
  /* margin-top: -40px; */
  /* width: 500px; */
}

.sectionOne > ul > li {
  font-size: 20px;
}

.sectionTwo > img {
  /* width: 50%; */
  /* margin: 60px; */
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;

    /* align-items: center; */
  }
  .sectionOne {
    width: 100%;
  }
}
